@page "/games"
@using DanaBet.DBModel
@using DanaBet.DBData
@using Microsoft.EntityFrameworkCore
@using System.Data

@rendermode InteractiveServer


@inject NavigationManager NavigationManager
@inject ApplicationDbContext DbContext

@if (gamesList == null)
{
    <p><em>در حال بارگذاری...</em></p>
}
else if (!gamesList.Any())
{
    <p><em>No games found in the database.</em></p>
}
else
{
    <div class="container">
        <div class="row mt-5">
            @foreach (var game in gamesList)
            {
                <div class="col-xl-6 col-md-6 col-6 mb-5">
                    <a href="/Leagues/@game.Id" class="text-decoration-none text-dark">

                        <div class="border rounded p-2 d-flex align-items-center">

                            <img src="@game.ImageUrl"
                                 style="width: 75px;
                                        height: 75px;
                                        object-fit: cover;
                                        border-radius: 50%;" />

                            <div class="ms-3 flex-grow-1 text-end fw-bold">
                                @game.Name
                                @if (!String.IsNullOrEmpty(game.Version))
                                {
                                    <text> - </text>
                                } @game.Version
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}


@code {
    private List<DanaBet.DBModel.Game> gamesList;

    protected override async Task OnInitializedAsync()
    {
        gamesList = await DbContext.TBL_Games.ToListAsync();
    }
}